body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-box {
  background: #fff;
  box-shadow: 0 0 29px 0 rgb(68 88 144 / 12%);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  padding: 30px;
}

.card-box img {
  width: 30px;
}

.header .header-title {
  color: #fff;
  display: flex;
  justify-content: center;
}

.header {
  background: rgb(102, 68, 255);
  background: -moz-linear-gradient(
    135deg,
    rgba(102, 68, 255, 1) 0%,
    rgba(83, 47, 152, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(102, 68, 255, 1) 0%,
    rgba(83, 47, 152, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(102, 68, 255, 1) 0%,
    rgba(83, 47, 152, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6644ff",endColorstr="#532f98",GradientType=1);
  padding: 20px 0px;
}
